<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<head>
    <meta charset="UTF-8">
    <title>List of Pet owners</title>
</head>
<body>
    <h1 th:text="'List of Pet owners'">List of Pet owners</h1>

    <table >
        <thead>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Foo</td>
                <td th:text="${owner.lastName}">Bar</td>
            </tr>
        </tbody>
    </table>
</body>
</html>