<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
    <h1 th:text="'List of vets'">List of vets</h1>

    <table id="vets" class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Specialities</th>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.firstName + ' ' + vet.lastName}">Foo</td>
                <td><span th:each="speciality : ${vet.specialities}"
                          th:text="${speciality.description + ' ' }"></span>
                <span th:if="${vet?.specialities?.size()==0}">None</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>